<mat-card class="quiz-card">
  <mat-card-header>
    <div mat-card-avatar class="quiz-header-image"></div>
    <mat-card-title>City</mat-card-title>
    <mat-card-subtitle>Bern</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="'assets/bern.jpeg'" alt="Photo of a Shiba Inu">
  <mat-card-actions class="answer-section">
  </mat-card-actions>
</mat-card>

<mat-card class="quiz-card">
  <mat-card-header>
    <div mat-card-avatar class="quiz-header-image"></div>
    <mat-card-title>City</mat-card-title>
    <mat-card-subtitle>Chicago</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="'assets/chicago.jpeg'" alt="Photo of a Shiba Inu">
  <mat-card-actions class="answer-section">
    
  </mat-card-actions>
</mat-card>

<mat-card class="quiz-card">
  <mat-card-header>
    <div mat-card-avatar class="quiz-header-image"></div>
    <mat-card-title>City</mat-card-title>
    <mat-card-subtitle>Dublin</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="'assets/dublin.jpeg'" alt="Photo of a Shiba Inu">
  <mat-card-actions class="answer-section">
  
  </mat-card-actions>
</mat-card>

<mat-card class="quiz-card">
  <mat-card-header>
    <div mat-card-avatar class="quiz-header-image"></div>
    <mat-card-title>City</mat-card-title>
    <mat-card-subtitle>Lisbon</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="'assets/lisbon.jpeg'" alt="Photo of a Shiba Inu">
  <mat-card-actions class="answer-section">
    
  </mat-card-actions>
</mat-card>

<mat-card class="quiz-card">
  <mat-card-header>
    <div mat-card-avatar class="quiz-header-image"></div>
    <mat-card-title>City</mat-card-title>
    <mat-card-subtitle>Sao Paulo</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="'assets/sao-paulo.jpeg'" alt="Photo of a Shiba Inu">
  <mat-card-actions class="answer-section">
   
  </mat-card-actions>
</mat-card>

<mat-card class="quiz-card">
  <mat-card-header>
    <div mat-card-avatar class="quiz-header-image"></div>
    <mat-card-title>City</mat-card-title>
    <mat-card-subtitle>Sidney</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="'assets/sidney.jpeg'" alt="Photo of a Shiba Inu">
  <mat-card-actions class="answer-section">
    
  </mat-card-actions>
</mat-card>

<mat-card class="quiz-card">
  <mat-card-header>
    <div mat-card-avatar class="quiz-header-image"></div>
    <mat-card-title>City</mat-card-title>
    <mat-card-subtitle>Vienna</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image [src]="'assets/vienna.jpeg'" alt="Photo of a Shiba Inu">
  <mat-card-actions class="answer-section">
  
  </mat-card-actions>