<p>Child Component</p>
<label>Name: {{name}}</label>
<ul>
    <li>
        OnChange:
        <label>{{onChangeTime |number}}</label>
    </li>
    <li>
        ngOnInit:
        <label>{{onInitTime |number}}ms</label>
    </li>
    <li>
      ngDoCheck:
        <label>{{onDoCheckTime |number}}ms</label>
    </li>
    <li>
      ngAfterContentInit:
        <label>{{AfterContentInitTime |number}}ms</label>
    </li>
    <li>
      ngAfterContentChecked:
        <label>{{afterContentCheckedTime |number}}ms</label>
    </li>
    <li>
      ngAfterViewInit:
        <label>{{afterViewInitTime |number}}ms</label> 
    </li>
    <li>
      ngAfterViewChecked:
        <label>{{afterViewCheckedTime |number}}ms</label>
    </li>
    <li>
      ngAfterContentCheck:
        <label>{{afterContentCheckTime |number}}ms</label>
    </li>
</ul>
